.the-header {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header-search {
  display: flex;
  flex: 1;
  border-radius: 24px;
  align-items: center;
}
.header-logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 20px;
}
.headre-option {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 15px;
}
.header-seachinput {
  height: 11px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}
.header-nav {
  display: flex;
  justify-content: space-evenly;
}
.header_optionLineone {
  font-size: 10px;
}
.header_optionLinetwo {
  font-size: 13px;
  font-weight: 800;
}
.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
.header_clearlink {
  text-decoration: none;
}
